@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
  color: #333;
  margin: 0;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.loader {
  border: 8px solid #f3f3f3;
  /* Light grey */
  border-top: 8px solid #3498db;
  /* Blue */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spinLoader 2s linear infinite;
}

@keyframes spinLoader {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #f1f1f1;
}

.user-table-header {
  text-align: right;
}

.selected-row {
  background-color: lightyellow; /* Highlight color */
}

.split-time-entry {
  padding: 20px;
  margin: 10px 0;
}
.split-time-entry-container {
  border: 1px solid gray;
  margin: 40px 0;
}

.entry-form {
  margin: 20px 0;
  display: flex;
  flex-wrap: wrap;
}

.entry-form .entry-form-inputs {
  width: 100%;
  margin-bottom: 20px;
  background-color: aliceblue;
  padding: 10px;
}

.bill-to-client {
  background-color: #FFC107;;
}

.one-x-one {
  background-color: #0DCAF0;
}

.gray-out {
  color: #ccc;
}

.time-spent-container {
  margin: 40px 0;
  border: 1px solid gray;
  padding: 10px;
}